body{
    font-family: var(--mainFont);
}

/* header */
.header{
     padding: 30px 0;
     position: sticky;
     top:0;
     background-color: #fff;
     box-shadow: 0 5px 10px #f7f0f0a1;
     z-index: 1;
}
.header ul{
    gap:35px; 
}
.header .search-form{
    border: 1px solid #E7E6EF;
}
.search-form{
    display: flex;
}
.search-form input{
    padding: 10px 10px;
}
@media screen and (max-width:1400px){
    .search-form input{
        width: 180px;
    }
}
@media screen and (max-width:992px){
    .search-form input{
        width: 160px;
    }
}
@media screen and (max-width:576px){
    .search-form input{
        width: 140px;
    }
}
.search-form button{
    background-color: var(--mainColor);
    cursor: pointer;
}
.search-form button img{
    height: 20px;
    width: 20ps;
    margin: 5px 10px;
}
.bar{
    display: none;
}
@media screen and (max-width:1200px){
    .list,.header .search{
        display:none;
    }
    .bar{
        display: block;
    }
}
/* /////////////////////////////////////// */
/* main */
/* hero section */
.hero-section{
    background-color: #F2F0FF;
    padding: 30px 0;
    position: relative;
}
.hero-lamp{
    position: absolute;
    top:0;
    left:50px;
    height: 230px;
    width: 220px;
}
.hero-content{
    flex: 1; 
}
.hero-img{
    flex:1;
}
.hero-section .hero-img img{
    max-width: 500px;
    max-height: 500px;
    
}

.hero-content{
    padding:0 20px 0 60px;
    align-items: flex-start;
}
@media screen and (max-width:1400px){
    .hero-section .hero-img img{
        max-width: 400px;
        max-height: 400px;
    }
    .hero-lamp{
        display: none;
    }
}
@media screen and (max-width:992px){
    .hero-section{
        text-align: center;
    }
    .hero-section .hero-img img{
        max-width: 300px;
        max-height: 300px;
    }
    .hero-section .hero-content{
        width: 100%;
    }
    
}
@media screen and (max-width:576px){
    .hero-section .hero-content{
        width: 100%;
        padding:0;
    }
    .hero-section .hero-img{
        display: none;
    }
}
/* featured products section */

.featured-products{
    /* color: #1A0B5B; */
    text-align: center;
    padding: 50px 0;
}
.featured-products .row{
    padding-top: 50px;
    gap:15px;
}
.featured-products .product{
    flex-grow: 1;
    box-shadow: 0px 4px 4px #00000040;
    text-align: center;
    flex-basis: 200px;
    flex-shrink: 0;
    border-radius: 2px;
}

.featured-products .product .img{
    background-color: #F6F7FB;  
}
.featured-products .product img{
    background-color: #F6F7FB;
    padding: 20px;
    width: 180px;
    height: 180px;
    object-fit: contain;
}
.featured-products .product-details{
    padding: 20px;
    transition: all .6s;
}

.featured-products .product-details h3{
    color :var(--mainColor)
}

.featured-products .product:hover .product-details{
    background-color: #2F1AC4;
}
.featured-products .product:hover span{
    color: white;
}
.featured-products .product:hover .product-details h3{
    color:white;
}
/* /////////////////////////////////////// */
/* leatest-products */
.leatest-products .list{
    padding:20px 0;
}
.leatest-products .row{
    text-align: center;
    padding: 40px;
    
    gap:35px;
}
.leatest-products .product .img{
    background-color: #F6F7FB;  
}

.leatest-products .product img{
    background-color: #F6F7FB;
    padding: 30px 50px;
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.leatest-products .product{
    flex-grow: 1;
    padding-bottom: 40px;
    text-align: center;
    flex-basis: 200px;
    flex-shrink: 0;
    border-radius: 2px;
}
.leatest-products .product-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 0;
}
.leatest-products .product-info{
    align-items: center;
}
.red-dash{
    color: #FB2448;
    text-decoration: line-through;
    font-size: 12px;
}
@media screen and (max-width:1400px){
    .leatest-products .product img{
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width:992px){
    .leatest-products .product img{
        width: 250px;
        height: 250px;
    }
}
@media screen and (max-width:576px){
    .leatest-products .product img{
        width: 200px;
        height: 200px;
    }
}
/* /////////////////////////////////////// */
/* shopx */
.shopx .row{
    text-align: center;
    padding: 40px;
    gap:30px
}
.shopx .product{
    flex-grow: 1;
    padding: 40px 10px;
    text-align: center;
    flex-basis: 200px;
    flex-shrink: 0;
    border-radius: 2px;
    box-shadow: 0px 0px 15px #e5dfdfa1;
}
.shopx .product img{
    padding:10px
}
.shopx .product p{
    padding:10px
}
/* /////////////////////////////////////// */
/* clients section */
.clients{
    padding: 30px 0;
}
.clients .row{
    flex-wrap: nowrap;
    gap:15px;
    overflow-x: auto;
}
.clients .logo{
    width: clac((100% - 75px) / 5);
}

@media screen and (max-width:900px){
    .clients .logo{
        width: clac((100% - 45px) / 3);
    }
}
/* /////////////////////////////////////// */
/* newslater section */
.newslater{
    background-image: url("./../img/public/background.webp");
    padding: 175px 0;
    text-align: center;
    background-attachment: fixed;
}
.newslater h2{
    margin-bottom: 50px;
    color: #151875;
    font-size: 35px;
}
.shop-btn{
    transition: all 0.5s;
}
.shop-btn:hover{
    background-color: #0d0e43;
}
/* /////////////////////////////////////// */
/* footer */
.footer{
    padding: 70px 0;
    background-color: #EEEFFB;
    
}
.footer .row{
    gap:20px;
}
.footer a, .address-info{
    color: #8A8FB9;
}

.footer .left-side{
    gap:35px;
    align-items:flex-start;
    width:calc( (100% - 20px)/2);
    /* background-color: red; */
}

.footer .right-side{
    width:calc( (100% - 20px)/2);
    
}
.footer .right-side .row{
    gap:35px;
    align-items: flex-start;
}
.footer-item{
    gap:45px;
    width: calc((100% - 70px)/3);
}

@media screen and (max-width:1400px){
    .footer .right-side{
        width: 100%;
    }
    .footer .left-side{
        width:100%;
    }
}
@media screen and (max-width:576px){
    .footer-item{
        width:100%;
        text-align: center;
    }
}


.footer-end{
    background-color: #E7E4F8;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15px 0;
}

